<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebDriver IO app Test Suite" verbose="1">
    <test name="Sauce Tests">
        <classes>
            <class name="com.mobile_testing.tests.NavigationTests"/>
            <class name="com.mobile_testing.tests.AuthenticationTests"/>
            <class name="com.mobile_testing.tests.SwipeTests"/>
            <class name="com.mobile_testing.tests.DragTests"/>
        </classes>
    </test>
</suite>